<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Secrets</title>
	</head>
	<body>
		<div class="">
			<h1>Hello, {{ request.session.user | title }}!</h1>
			{% if messages %}
			<ul class="messages">
				{% for msg in messages %}
				<li>{{msg.message}}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<form action="/add" method="post">
				{% csrf_token %}
				<textarea name="secret" rows="8" cols="80" placeholder="Your secret here..."></textarea> <br>
				<input type="submit" value="Post">
			</form>
			<a href="/popular">Most Popular Secrets</a>
		</div>
		<div class="">
			<h1>Recent Secrets</h1>
			{% for secret in secrets %}
			<p>{{secret.content}} ({{secret.created_at|timesince}} ago) {{secret.users.count}} likes
				{% if user == secret.created_by %}
					<span>You posted this</span>
					<a href="/delete/{{secret.id}}">delete</a>
					{% else %}
						{% if user in secret.users.all %}
							<span>You liked this</span>
						{% else %}
						<a href="/like/{{secret.id}}">Like</a>
						{% endif %}
					</p>
				{% endif %}
			{% endfor %}
		</div>

	</body>
</html>
